<a href="https://colab.research.google.com/github/emreKanarya/-Zekasi-ve-Veri-Madenciligi/blob/main/HAFTA_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

"np.nan" boş demek oluyor.Şuanda bir dataframe oluştu bu örnek ile.

In [ ]:
s=pd.Series ([1,2,3,np.nan,"Ali"])
b=pd.DataFrame(s)
print(b)

     0
0    1
1    2
2    3
3  NaN
4  Ali

1 TANE 10 TANE ELEMANDAN OLUŞAN TEK BOYUTLU RASTGELE BİR DİZİ OLUŞTURUN NUMPY İLE DAHA SONRA BUNU DATA FRAME e DÖNÜŞTÜRÜN.

In [ ]:
r=np.random.random(10)
df_r=pd.DataFrame(r)
df_r

          0
0  0.483368
1  0.284246
2  0.401462
3  0.034356
4  0.276136
5  0.922336
6  0.878523
7  0.296116
8  0.965627
9  0.504021

"PERIODS" fonksiyonunu kullanalım.Burada tarihi yazdık 15 günlük periyod yapmasını istedik bize.

In [ ]:
pd.date_range("20220322",periods=15,freq="D")

DatetimeIndex(['2022-03-22', '2022-03-23', '2022-03-24', '2022-03-25',
               '2022-03-26', '2022-03-27', '2022-03-28', '2022-03-29',
               '2022-03-30', '2022-03-31', '2022-04-01', '2022-04-02',
               '2022-04-03', '2022-04-04', '2022-04-05'],
              dtype='datetime64[ns]', freq='D')

PERIODS ve FREQ FONKSİYONU KULLANARAK ŞİMDİ DE YILINA GÖRE 15 GÜNLÜK PERİYOD YAPALIM.

In [ ]:
pd.date_range("20220322",periods=15,freq="Y")

DatetimeIndex(['2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31',
               '2026-12-31', '2027-12-31', '2028-12-31', '2029-12-31',
               '2030-12-31', '2031-12-31', '2032-12-31', '2033-12-31',
               '2034-12-31', '2035-12-31', '2036-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

24 aylık bir tarih dizisi olsun ve 20 ye 4 lük bir matris oluşturun.

In [ ]:
tarih=pd.date_range("20220301",periods=10)
df=pd.DataFrame(np.random.rand(10,3),index=tarih,columns=list(["s1","s2","s3"]))
df

                  s1        s2        s3
2022-03-01  0.135099  0.818883  0.437155
2022-03-02  0.085669  0.113003  0.307692
2022-03-03  0.845904  0.485797  0.345838
2022-03-04  0.742838  0.534017  0.841163
2022-03-05  0.837103  0.972272  0.952225
2022-03-06  0.279046  0.070029  0.397699
2022-03-07  0.105118  0.635225  0.280657
2022-03-08  0.586812  0.918331  0.150660
2022-03-09  0.695936  0.451060  0.559305
2022-03-10  0.281460  0.098590  0.107967

DataFrame oluşturmanın farklı bir yolu "dictonary" ile.

In [ ]:
df0=pd.DataFrame(
    {
        "sınıf":pd.Series([1,2,3,4,5]),
        "ogrenciler":pd.Series(np.random.random(5)*100)

    }

)   

df0

   sınıf  ogrenciler
0      1   22.234279
1      2   57.347527
2      3   54.189725
3      4   37.820033
4      5   90.340315

Soru: 10 kişik bir sınıf listesi oluşturun rastgele öğrenci numarası olsun. Bir sütun ÖĞRENCİ NUMARASI, bir sütun İSİMLERİ olsun, bir sütunda ARASINAV NOTU olsun bir de TARİH sütunu olsun 10 tane seri olsun tarih de yıllık artsın.
Dikkat "RANDINT" fonksiyonu rastgele tamsayı değer üretir.

In [ ]:
calisma=pd.DataFrame(
    {
        "Isim":pd.Series(["a","a","a","a","a","a","a","a","a","a"]),
        "Ogrenci_No":pd.Series(np.random.randint(0,100,size=10)),
        "Vize_Notu":pd.Series(np.random.randint(85,100,size=10))
    }
)

calisma

  Isim  Ogrenci_No  Vize_Notu
0    a          38         94
1    a          58         96
2    a          80         95
3    a          70         91
4    a          16         93
5    a          92         96
6    a          38         93
7    a          11         96
8    a           8         86
9    a          76         91

ÖRNEK2:

In [ ]:
df2=pd.DataFrame(
    {
     "A":1.0,
     "B":pd.Timestamp("20130102"),
     "C":pd.Series(1, index=list(range(4)), dtype="float32"),
     "D":np.array([3]*4, dtype="int32"),
     "E":pd.Categorical(["test","train","test","train"]),
     "F":"foo",
    }
)
print(df2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo