<a href="https://colab.research.google.com/github/emreKanarya/-Zekasi-ve-Veri-Madenciligi/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
a=np.array([1,2,3,4,5])
print(a)

[1 2 3 4 5]

In [ ]:
a=np.array([1,2,3,4,5,"Emre"])
a

array(['1', '2', '3', '4', '5', 'Emre'], dtype='<U21')

In [ ]:
print(a[0])

1

In [ ]:
b=np.ones(5)
b

array([1., 1., 1., 1., 1.])

In [ ]:
c=np.random.random(10)
c

array([0.15331634, 0.84757627, 0.36930952, 0.82873161, 0.65668767,
       0.04377953, 0.1457688 , 0.43047531, 0.91827914, 0.09111439])

In [ ]:
D=np.random.random(5)*10
D

array([5.8436464 , 5.85710899, 7.25553958, 7.76266384, 9.12862045])

In [ ]:
print(D[0:3])

[5.8436464  5.85710899 7.25553958]

In [ ]:
print(D[0:2].min())

5.843646398352552

In [ ]:
print(D[0:].max())

9.128620445240648

In [ ]:
m=np.ones((2,3))
m

array([[1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
m2=np.array([[1,2,3],[4,5,6],[7,8,9]])
m2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
dizi1=np.array([1,3,5,6,"Ali"])
dizi1

array(['1', '3', '5', '6', 'Ali'], dtype='<U21')

In [ ]:
dizi3=np.ones((2,3))
dizi3

array([[1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
dizi4=np.random.random(16)
print(dizi4.reshape(4,4))

[[0.74926738 0.15364113 0.50626964 0.07083464]
 [0.47624927 0.27492475 0.45200679 0.29881697]
 [0.91153714 0.97764173 0.77871583 0.41847911]
 [0.94072761 0.02876154 0.04772669 0.98760071]]

In [ ]:
print(dizi1[2])

5

In [ ]:
print(dizi3**2)

[[1. 1. 1.]
 [1. 1. 1.]]

In [ ]:
print(dizi4[1:3,1:])

IndexError: ignored

In [ ]:
dizi_yatay=np.concatenate([dizi1,dizi3],axis=0)
print(dizi_yatay)

ValueError: ignored

In [ ]:
dizi3a=dizi3.reshape(2,3)
dizi4a=dizi4.reshape(2,8)
dizi_dikey=np.concatenate([dizi3a,dizi4a],axis=1)
print(dizi_dikey)

[[1.         1.         1.         0.74926738 0.15364113 0.50626964
  0.07083464 0.47624927 0.27492475 0.45200679 0.29881697]
 [1.         1.         1.         0.91153714 0.97764173 0.77871583
  0.41847911 0.94072761 0.02876154 0.04772669 0.98760071]]

In [ ]:
z=np.random.random(16).reshape(4,4)
print(z.reshape(4,4))

[[4.64216755e-04 7.67076311e-01 6.17047920e-01 6.66159342e-01]
 [7.44861404e-01 7.82972083e-01 2.37598582e-01 1.96372210e-01]
 [5.10726358e-01 5.58777113e-01 8.28716857e-01 1.76198144e-01]
 [7.50394413e-02 8.68562457e-01 5.51215520e-01 7.00636648e-01]]

In [ ]:
print(z[(1,2)])

IndexError: ignored

In [ ]:
print(z[0:1,1:2])

[[0.76707631]]

In [ ]:
import pandas as pd

In [ ]:
uygulama=pd.DataFrame(
    {
        "Tarih":pd.date_range("20000101",periods=276, freq="m")
    }
    
)
uygulama

         Tarih
0   2000-01-31
1   2000-02-29
2   2000-03-31
3   2000-04-30
4   2000-05-31
..         ...
271 2022-08-31
272 2022-09-30
273 2022-10-31
274 2022-11-30
275 2022-12-31

[276 rows x 1 columns]

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.describe

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.city

In [ ]:
df["Country"].unique().size

In [ ]:
df[df.jan>200 & (df.Aug<500)].Contry.unique()

In [ ]:
#isin içinde var mı diye sorguluyor.

In [ ]:
f1[f1.city.isin(sehirler)]